<!-- Sidebar Widgets Column -->

<div class="col-md-4">
    <!-- Search Widget -->
    <div class="card my-4">
        <h5 class="card-header" style="background-color: #673bf3; color: white">Search</h5>
        <div class="card-body">
            <form action="{% url 'home' %}" method="get">
                <div class="input-group">
                    <input type="search" name='q' class="form-control" placeholder="Search for..." value="{{ request.GET.q }}" required>
                    <span class="input-group-btn">
                        <button class="but" type="submit" style="background-image: linear-gradient(90deg,#673bf3 0,#d90fef);background-repeat: repeat-x; color: white">Go!</button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header" style="background-color: #0dba4b; color: white">Categories</h5>
        <div class="card-body">
            <div class="row">
                {% for cat in categories %}
                <div class="col-md-4">
                <a href="{% url 'home' %}?q={{ request.GET.q }}&cat={{ cat }}">{{ cat }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Side Widget -->
    <div class="card my-4">
        <h5 class="card-header" style="background-color: #d90fef; color:white">Recent Posts</h5>
        <div class="card-body">
            <ul>
                {% for post in recent_posts %}
                <li><a href="/{{ post.slug }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</div>